.analityc {
  &__list {
    min-width: 50vw;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
  }
  &__title,
  &__result {
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media screen and (max-width: 978px) and (min-width: 640px) {
  .analityc {
    &__list {
      min-width: 70vw;
    }
  }
}

@media screen and (max-width: 639px) {
  .analityc {
    &__list {
      min-width: 80vw;
    }
  }
}
