<!-- <ul class="analityc__list">
  <li class="analityc__item" *ngFor="let item of analiticsList">
    <p class="analityc__title">{{ item.title }}</p>
    <p class="analityc__result">{{ item.result }}</p>
  </li>
</ul> -->

<app-loader *ngIf="isLoading"></app-loader>

<mat-table
  *ngIf="!isLoading"
  [dataSource]="analiticsList"
  class="mat-elevator-z8 analityc__list"
>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let elem; let i = index" class="analityc__number">
      {{ i + 1 }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let elem" class="analityc__title">
      {{ elem.title }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
    <mat-cell *matCellDef="let elem" class="analityc__result">
      {{ elem.result }}
    </mat-cell>
  </ng-container>

  <mat-header-row
    class="table-header"
    *matHeaderRowDef="displayedColumns"
  ></mat-header-row>
  <mat-row
    class="table-row"
    *matRowDef="let row; columns: displayedColumns"
  ></mat-row>
</mat-table>
