button + button {
  margin-left: 20px;
}

.tab {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    position: relative;
  }
  &__delete-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
