<div class="tab__content" *ngFor="let item of items">
  <h1 class="tab__header">{{ item.name }}</h1>
  <p class="tab__text">{{ item.email }}</p>
  <p class="tab__text">{{ item.speciality }}</p>
  <div class="tab__button-block">
    <button
      [ngClass]="
        item.isFavourite ? 'tab__toggle-button--active' : 'tab__toggle-button'
      "
    >
      Favourites
    </button>
    <button
      [ngClass]="
        item.isDisFavourite
          ? 'tab__toggle-button--active'
          : 'tab__toggle-button'
      "
    >
      Disfavourites
    </button>
  </div>
  <button class="tab__delete-button" (click)="deleteItem(item.id)">
    Delete
  </button>
</div>
