button + button {
  margin-left: 20px;
}

.tab {
  &__content {
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    position: relative;
  }
  &__header,
  &__text {
    text-align: center;
  }

  &__delete-button {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: rgb(255, 102, 102);
      transform: rotate(-90deg);
    }
  }
}
