<div
  class="tab__content"
  *ngFor="let item of items"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h1 class="tab__header">{{ item.name }}</h1>
  <p class="tab__text">Email: {{ item.email }}</p>
  <p class="tab__text">Speciality: {{ item.speciality }}</p>
  <div class="tab__button-block">
    <button
      mat-stroked-button
      [color]="item.isFavourite ? 'accent' : ''"
      (click)="toggleFavHandler(item, 'isFavourite')"
    >
      Favourites
    </button>
    <button
      mat-stroked-button
      [color]="item.isDisFavourite ? 'accent' : ''"
      (click)="toggleFavHandler(item, 'isDisFavourite')"
    >
      Disfavourites
    </button>
  </div>
  <span class="material-icons tab__delete-button" (click)="deleteItem(item.id)">
    clear
  </span>
</div>
