<div class="block">
  <div class="page__content" fxLayout="column" fxLayoutAlign="center center">
    <!-- not main page header -->
    <ng-template class="not-main-page__header" #notHomePageHeader>
      <h2 class="page__label">{{ notHomePage }}</h2>
    </ng-template>
    <!----------------------->
    <div
      class="main-page"
      #mainPageContent
      *ngIf="!!data.length; else noItemsHeader"
    >
      <div class="page__header" *ngIf="isMain; else notHomePageHeader">
        <mat-label class="page__label">Choose the required specialty</mat-label>
        <mat-select
          [(value)]="selectedOption"
          (selectionChange)="selectChangeHandler($event.value)"
        >
          <mat-option [value]="option.value" *ngFor="let option of options">
            {{ option.name }}
          </mat-option>
        </mat-select>
        <!-- if no items => render noItemsHeader  -->
      </div>
    </div>
    <div #mainPageSort *ngIf="!!renderData.length; else noItemsHeader">
      <!-- content, if there are items -->
      <app-specialists-tab
        class="page-main__items"
        [items]="renderData"
      ></app-specialists-tab>
    </div>
  </div>

  <!-- header, if no items -->
  <ng-template class="header__empty-data" #noItemsHeader>
    <h2>At the moment there are no specialists</h2>
  </ng-template>
</div>
<app-loader *ngIf="isLoading"></app-loader>
