.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  &-button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    &:hover {
      // color: #7b1fa2;
      color: #ab61ca;
    }
  }
  &-button + &-button {
    margin-left: 20px;
  }
  &-header,
  &-text {
    margin: 0;
    padding: 20px;
    font-size: 30px;
  }
  &-header {
    margin-top: 50px;
  }
  &-text {
    margin-bottom: 20px;
  }
}
