<div class="nav__list--container">
  <ul
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign.gt-xs="space-between"
    class="nav__list"
  >
    <li class="nav__item" *ngFor="let item of headerItems">
      <a
        [routerLink]="item.path"
        class="nav__link"
        (click)="closeSidenav()"
        routerLinkActive="nav__link--active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ item.textContent }}</a
      >
      <!-- (sedenavClose)="sidenav.close()" -->
    </li>
  </ul>
</div>
